@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
@import "./formacao.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
